{# src/NAOBundle/ressources/views/observation/show.html.twig #}

{% extends 'NAOBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Observation - {{ observation.id }} {% endblock %}

{% block body %}

        <article id="blog" class="my-5">
            <div class="container bg-cream">
                <div class="row py-5">
                    <div class="col-12 text-center">
                        <h1>{{ observation.title }} à {{ observation.place }}</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col px-4 pb-4">
                        {% if observation.photos.snapshot is empty %}
                            <div class="img-responsiv">
                                <img src="{{ app.request.basePath }}/img/image-not-available.jpg" alt="" class="img-fluid">
                            </div>
                        {% elseif (observation.photos.snapshot|length) == 1 %}
                            {% for o in observation.photos %}
                                <div class="img-responsiv">
                                    <img src="{{ app.request.basePath }}/img/observations/{{ o.file|striptags }}" alt="" class="img-fluid">
                                </div>
                            {% endfor %}
                        {% elseif (observation.photos.snapshot|length) > 1 %}
                            <div id="carouselObser" class="carousel slide" data-ride="carousel">
                                <!--<ol class="carousel-indicators">
                                    <li data-target="#carouselObser" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselObser" data-slide-to="1"></li>
                                    <li data-target="#carouselObser" data-slide-to="2"></li>
                                </ol>-->
                                <div class="carousel-inner">
                                    {% for o in observation.photos %}
                                        {% if loop.first %}
                                            <div class="carousel-item active">
                                                <img src="{{ app.request.basePath }}/img/observations/{{ o.file|striptags }}" alt="" class="img-caroussel">
                                            </div>
                                        {% else %}
                                            <div class="carousel-item">
                                                <img src="{{ app.request.basePath }}/img/observations/{{ o.file|striptags }}" alt="" class="img-caroussel">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                {%  if (observation.photos.snapshot|length) > 2 %}
                                    <a class="carousel-control-prev" href="#carouselObser" role="button" data-slide="prev">
                                        <span class="fa fa-chevron-circle-left" aria-hidden="true"></span>
                                        <span class="sr-only">Précédent</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselObser" role="button" data-slide="next">
                                        <span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
                                        <span class="sr-only">Suivant</span>
                                    </a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row pt-4 px-4">
                    <div class="col-12 col-md-4">Auteur : {{ observation.user.login|capitalize }}</div>
                    <div class="col-12 col-md-4">Espèce : {{ observation.bird.frenchName }} </div>
                </div>
                <div class="row px-4">
                    <div class="col-12 col-md-4">Date : 4 juin 2017</div>
                    <div class="col-12 col-md-4">Lieu : Piana</div>
                    <div class="col-12 col-md-4">Point: 42.260662, 8.676282</div>
                    <div class="col-12 py-5">
                        <p>Superbe oiseau oiseau observé cette année, en juin près de Porto, en Corse.</p>
                    </div>
                </div>
            </div>
        </article>

{% endblock %}