<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <title>Nos Amis les Oiseaux - l'App NAO</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="{{ asset('css/lp_style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- Font awesome -->
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">

    </head>
    <body>
        <nav class="white" role="navigation" style="background: rgba(255,255,255,0.65) !important;height: 80px">
            <div class="nav-wrapper container" style="text-align: center;height: 80px;">
                <div class="row" style="height: 80px">


                    <div class="left col s4 hide-on-med-and-down" style="height: 80px">
                        <img src="{{ asset('img/mini-logo.png') }}" class="left"
                             style="height: 60px;width: auto;vertical-align: middle;margin-top:10px">
                        <h5 style="padding-top: 20px;font-weight:600;font-size: 19px;color:#274144;text-align: left"
                            class="show-on-large"> &nbsp; Nos Amis les Oiseaux</h5>
                    </div>


                    <div class="col s3 offset-s1 center-block hide-on-med-and-down"
                         style="height: 80px;padding-top: 6px;color: #1daa69">
                        <ul>
                            <li><a href="https://www.facebook.com/"><i style="color: #1daa69"
                                                                       class="fa fa-facebook fa-4x"></i></a></li>
                            <li><a href="https://www.instagram.com/"><i style="color: #1daa69"
                                                                        class="fa fa-instagram fa-4x"></i></a></li>
                            <li><a href="https://www.pinterest.fr/"><i style="color: #1daa69"
                                                                       class="fa fa-pinterest fa-4x"></i></a></li>
                        </ul>
                    </div>

                    <div class="col s3 right offset-s1 right hide-on-med-and-down">
                        <a href="{{ path('user_inscription') }}" id="join-button-header"
                           class="btn waves-effect waves-light orange"
                           style="background-color: #274144 !important;border-color: #274144 !important;margin-top: 13px;width: 100%;font-weight: 700">Contribuer</a>
                    </div>


                    <div class="left col s3 hide-on-large-only" style="height: 80px">
                        <img src="img/mini-logo.png" class="left"
                             style="height: 60px;width: auto;vertical-align: middle;margin-top:10px">
                    </div>


                    <div class="right col s2 offset-s1 black-text" style="padding-top: 10px">
                        <ul id="nav-mobile" class="side-nav black-text">
                            <li><a href="#"><i class="fa fa-facebook fa-2x"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-instagram fa-2x"></i> Instagram</a></li>
                            <li><a href="#"><i class="fa fa-pinterest fa-2x"></i> Pinterest</a></li>
                        </ul>
                        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons"
                                                                                           style="color: #1a237e">menu</i></a>
                    </div>


                    <div class="col s5 offset-1 center-block center-align center right hide-on-large-only">
                        <a href="{{ path('user_inscription') }}" id="join-button-header-mobile"
                           class="btn waves-effect waves-light orange"
                           style="background-color: #4267b2 !important;border-color: #4267b2 !important;margin-top: 15px;font-size:13.5px;text-align:center;vertical-align:middle;width: 100%;font-weight: 600">Contribuer</a>
                    </div>


                </div>

            </div>
        </nav>


        <div class="section no-pad-bot no-pad-top" id="index-banner"
             style="background: rgba(255,255,255,0.65);">
            <div class="container">
                <br><br>
                <br><br>
                <br>
                <h1 class="header center orange-text" style="color: #1daa69 !important;font-weight: bold">Rejoignez une
                    communauté de passionnés</h1>
                <br>
                <h3 style="margin-left:auto;margin-right:auto;line-height: 30px;text-align: center;width:85%">Amoureux
                    des
                    oiseaux, <span style="font-weight: 600;">partagez vos connaissances et découvertes</span>,
                    <br><span style="font-weight: 600;">+ de 900 espèces</span> et 400 contributeurs !
                </h3>
                <br><br>
                <div class="center" style="padding-top: 60px;padding-bottom: 30px">
                    <div class="row center">
                        <a href="{{ path('user_inscription') }}" id="download-button"
                           class="btn-large waves-effect waves-light orange"
                           style="font-size:23px;background-color: #274144 !important;border-color: #274144 !important;margin-top: 10px;width: 60%;font-weight: 700;">Rejoindre
                            l'aventure
                        </a>
                    </div>
                </div>
            </div>
            <br><br>
            <br><br>
        </div>

        <video autoplay loop id="video-background" muted plays-inline>
            <source src="{{ asset('video/intro-birds.mp4') }}" type="video/mp4">
            <source src="{{ asset('video/intro-birds_1.webm') }}" type="video/webm">
        </video>


        <div class="section no-pad-bot no-pad-top" style="background: rgba(255,255,255,0.85) !important;">

            <div class="container">
                <div class="section">

                    <!--   Icon Section   -->
                    <div class="center">
                        <div class="row">
                            <div class="col m12 s12">
                                <h2 style="font-weight: 600;color: #353535 !important;">Notre programme
                                    d'observation</h2>
                                <br>
                                <br>
                                <div class="row">

                                    <div class="col s12 m4">
                                        <img src="{{ asset('img/003-map-location.png') }}"
                                             style="max-width: 96px;max-height: 96px">
                                        <h3>Carte Interactive</h3>
                                        <p class="orange-text">Découvrez de nombreuses espèces d'oiseaux se trouvant
                                            autour de
                                            vous.</p>

                                    </div>

                                    <div class="col s12 m4">
                                        <img src="{{ asset('img/001-smartphone.png') }}"
                                             style="max-width: 96px;max-height: 96px">
                                        <h3>Observations</h3>
                                        <p class="orange-text">Ajoutez vos propres observations et consultez celles des
                                            autres
                                            membres.</p>

                                    </div>

                                    <div class="col s12 m4">
                                        <img src="{{ asset('img/002-edit.png') }}"
                                             style="max-width: 96px;max-height: 96px">
                                        <h3>Blog</h3>
                                        <p class="orange-text">Des articles rédigés par des pros. <i>Conseils, astuces,
                                                matériel, ...</i></p>

                                    </div>

                                </div>

                                <div class="center" style="padding-top: 20px;padding-bottom: 30px">
                                    <div class="row center">
                                        <a href="{{ path('user_inscription') }}" id="download-button-2"
                                           class="btn-large waves-effect waves-light orange hide-on-med-and-up"
                                           style="font-size:15px;background-color: #274144 !important;border-color: #274144 !important;margin-top: 10px;width: 45%;font-weight: 700;">Contribuer
                                        </a>
                                        <a href="{{ path('user_inscription') }}" id="download-button-5"
                                           class="btn-large waves-effect waves-light orange hide-on-small-and-down"
                                           style="font-size:23px;background-color: #274144 !important;border-color: #274144 !important;margin-top: 10px;width: 45%;font-weight: 700;">Contribuer
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="section no-pad-bot orange">
            <div class="container">
                <div class="section">

                    <!--   Icon Section   -->
                    <div class="row">

                        <h2 style="font-weight: 600" class="subheader center white-text">Qui sommes-nous ?</h2>

                        <br>
                        <br>

                        <div class="col s12 m12 l6">
                            <p class="white-text" style="font-weight: 500;text-align: center;font-size: 19px">
                                Fondée en 2003 par Michel Dujardin, NAO a pour d'observer et de préserver la faune
                                ornithologique.
                                <br>
                                <br>
                                Après 14 années d'existence, notre association a décidée de se diversifier en créant
                                "l'app
                                NAO", favorisant le partage entre passionnés amateurs et professionnels.
                            </p>


                            <div class="center" style="padding-top: 20px;padding-bottom: 5px">
                                <div class="row center">
                                    <a href="{{ path('nao_about') }}" id="download-button-3"
                                       class="btn waves-effect waves-light orange"
                                       style="font-size:15px;background-color: #274144 !important;border-color: #ffffff !important;margin-top: 10px;width: 80%;font-weight: 500;">En
                                        savoir plus
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="col s12 m12 l6">

                            <div class="video-container">
                                <iframe width="100%" height="auto" src="//www.youtube.com/embed/cj0GZGtkJNY?rel=0"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="section no-pad-bot no-pad-top no-pad" style="background: rgba(255,255,255,0.85);">
            <br><br>
            <div class="container">
                <div class="section">

                    <!--   Icon Section   -->
                    <div class="center">
                        <div class="row">
                            <form class="col m8 offset-m2 s12">
                                <div class="row">

                                    <h2 style="font-weight: 600;color: #1daa69 !important;" class="orange-text">
                                        Newsletter</h2>
                                    <br>

                                    <p style="font-weight: 500;font-size: 17px" class="center-align">Inscrivez-vous à
                                        notre
                                        Newsletter afin
                                        d'être tenu informé des dernières nouvelles de l'association.</p>

                                    <hr>
                                    <div class="input-field col m9 s12">
                                        <i class="material-icons prefix" style="font-size: 26px">email</i>
                                        <input id="icon_email" type="email" class="validate">
                                        <label for="icon_email" style="font-size: 16px">&nbsp;Votre adresse
                                            e-mail</label>
                                    </div>
                                    <div class="col s12 m3" style="padding-top: 15px">
                                        <button class="orange btn waves-effect waves-light" type="submit" name="action"
                                                style="background-color: #274144 !important;border-color: #274144 !important;width: 95%;text-align: center">
                                            S'inscrire
                                            <i class="material-icons right">send</i>
                                        </button>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>

        </div>


        <div class="section no-pad-bot orange">
            <div class="container">
                <div class="section">
                    <h2 style="font-weight: 600" class="subheader center white-text">Ce que disent nos membres</h2>


                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                                    <!-- Carousel Slides / Quotes -->
                                    <div class="carousel-inner text-center">
                                        <!-- Quote 1 -->
                                        <div class="item active">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        <p class="text-testimonial">Je crois fermement en l’avenir, si
                                                            nous
                                                            savons préparer et expliquer à nos enfants les merveilles
                                                            qui
                                                            composent notre monde.
                                                        </p>
                                                        <small> Michel Dujardin, Association Nos Amis les Oiseaux
                                                        </small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Quote 2 -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        <p class="text-testimonial">Entendre l'oiseau qui s'envole, le
                                                            vent qui
                                                            se lève, l'arbre qui m'appelle... tout est là, tout est
                                                            vivant, tout
                                                            est dans la forêt, et je peux maintenant le partager.
                                                        </p>

                                                        <small>Emily Vernay, de Fontainebleau</small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Quote 3 -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        <p class="text-testimonial">Ici, il n'y a pas que le Mont Blanc.
                                                            Les
                                                            montagnes environnantes sont une volière naturelle que
                                                            j'aime
                                                            explorer, avec mon appareil photo, tout en écoutant le chant
                                                            des
                                                            oiseaux.
                                                        </p>
                                                        <small>Philippe Ebert, Lycéen à Chamonix</small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Quote 4 -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        <p class="text-testimonial">Avec toutes ces magnifiques photos
                                                            prises
                                                            par les membres du site, je ne risque pas de me retrouver en
                                                            manque
                                                            d'inspiration pour peindre mes tableaux.
                                                        </p>
                                                        <small>
                                                            Catherina Achard Peintre animalière et illustratrice pour
                                                            enfant
                                                        </small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                        <!-- Quote 5 -->
                                        <div class="item">
                                            <blockquote>
                                                <div class="row">
                                                    <div class="col-sm-8 col-sm-offset-2">
                                                        <p class="text-testimonial">Je trouve intéressant de rendre
                                                            service aux
                                                            membres du site, simplement et gratuitement. Ce site, c'est
                                                            aussi la
                                                            possibilité de rencontres très enrichissantes. Tout me donne
                                                            envie
                                                            d'y revenir.
                                                        </p>
                                                        <small>
                                                            Pierre Thevenou, Ornithologue au Parc du Pont de Gau
                                                        </small>
                                                    </div>
                                                </div>
                                            </blockquote>
                                        </div>
                                    </div>


                                    <!-- Bottom Carousel Indicators -->
                                    <ol class="carousel-indicators hide-on-med-and-down">
                                        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img
                                                    class="img-responsive "
                                                    src="{{ asset('img/temoin-05.jpg') }}" alt="">
                                        </li>
                                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive"
                                                                                                 src="{{ asset('img/temoin-02.jpg') }}"
                                                                                                 alt="">
                                        </li>
                                        <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive"
                                                                                                 src="{{ asset('img/temoin-01.jpg') }}"
                                                                                                 alt="">
                                        </li>
                                        <li data-target="#quote-carousel" data-slide-to="3"><img class="img-responsive"
                                                                                                 src="{{ asset('img/temoin-04.jpg') }}"
                                                                                                 alt="">
                                        </li>
                                        <li data-target="#quote-carousel" data-slide-to="4"><img class="img-responsive"
                                                                                                 src="{{ asset('img/temoin-03.jpg') }}"
                                                                                                 alt="">
                                        </li>
                                    </ol>

                                    <!-- Carousel Buttons Next/Prev -->
                                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i
                                                class="fa fa-chevron-left"></i></a>
                                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i
                                                class="fa fa-chevron-right"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="section no-pad-bot no-pad-top no-pad" style="background: rgba(255,255,255,0.85) !important;">

            <div class="container">

                <div class="center" style="padding-top: 15px;">
                    <div class="row center">
                        <a href="{{ path('user_inscription') }}" id="download-button-4"
                           class="btn-large waves-effect waves-light orange"
                           style="font-size:19px;background-color: #274144 !important;border-color: #274144 !important;width: 45%;font-weight: 700;">Participer
                        </a>
                    </div>
                </div>

            </div>

        </div>


        <footer class="page-footer" style="background-color: #314e51 !important;">
            <div class="container">
                <div class="row" style="margin-top: 20px;">
                    <div class="col l5 s12 col-md5 left left-align">
                        <a href="{{ path('nao_homepage') }}" class="grey-text text-lighten-4">Accueil</a> •
                        <a href="{{ path('nao_contact') }}" class="grey-text text-lighten-4">Contact</a> •
                        <a href="{{ path('user_inscription') }}" class="grey-text text-lighten-4">Inscription</a> •
                        <a href="{{ path('login') }}" class="grey-text text-lighten-4">Connexion</a>
                    </div>
                    <div class="col l2 s12 col-md2 center-align center">
                        <img src="{{ asset('img/mini-logo.png') }}" width="64px" height="auto"/>
                    </div>
                    <div class="col l5 s12 right col-md5 right-align">
                        <h5 class="white-text">Retrouvez-nous sur</h5>
                        <a href="https://www.facebook.com/"><i style="color: #1daa69" class="fa fa-facebook fa-2x"></i></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.instagram.com/"><i style="color: #1daa69"
                                                                class="fa fa-instagram fa-2x"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.pinterest.fr/"><i style="color: #1daa69" class="fa fa-pinterest fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer-copyright" style="background-color: #274144 !important;">
                <div class="container">
                    © 2017 Copyright NAO
                    <a class="grey-text text-lighten-4 right" href="#" id="mentions_legales" title="
            Nos Amis les Oiseaux
            4 rue XXX
            0603597826
            nao@contact.fr
            Directeur/trice de publication : [nom prénom]
            Hébergeur : OVH.fr">Mentions légales
                    </a>
                </div>
            </div>
        </footer>


        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{ asset('js/materialize.js') }}"></script>
        <script src="{{ asset('js/init.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <script>
            $(function() {
                //Affichage des mentions légales
                $('#mentions_legales')
                    .click(function(e){e.preventDefault();})
                    .tooltip({position: { my: "top+25%", at: "center" }});
            });
        </script>

        <!-- GOOGLE ANALYTICS API -->


        <!--// GOOGLE ANALYTICS API //-->

    </body>
</html>
