{# src/NAOBundle/ressources/views/home/home.html.twig #}

{% extends "NAOBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Bienvenue {% endblock %}

{% block body %}
<!-- INTRO SECTION -->
<section id="accueil-intro" class="bg-white pt-3">
    <div class="container">
        <div class="row px-0">
            <div class="col text-center px-0">
                <h1 class="text-dark-green">Nos Amis Les Oiseaux</h1>
                <img src="{{ asset('img/accueil-top.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- PARTICIPER SECTION -->
<section id="participer-accueil-section" class="">
    <div class="container bg-light">
        <div class="row ">
            <div class="col text-center px-0">
                <h2 class="text-dark-green">Comment participer ?</h2>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12 col-sm-6 col-md-3 parti-obs text-center">
                <h4 class="text-white">Observer</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 parti-pho text-center">
                <h4 class="text-white">Photographier</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 parti-par text-center">
                <h4 class="text-white">Partager</h4>
            </div>
            <div class="col-12 col-sm-6 col-md-3 parti-val text-center">
                <h4 class="text-white">Valider</h4>
            </div>
        </div>
        <div class="row">
            <div class="col px-0 pb-0">
                <img src="{{ asset('img/accueil-comment.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- SECTION BLOG -->
<section id="blog-accueil-section">
    <div class="container">
        <div class="row">
            <div class="col text-center pb-3">
                <h2>Les derniers articles</h2>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-12 col-md-4">
                <div class="card mb-3">
                    {% if post.BlogImages.snapshot is empty %}
                    <img src="{{ app.request.basePath }}/img/image-not-available.jpg" alt="" class="card-img-top">
                    {% else %}
                        {% for p in post.BlogImages %}
                            {% if loop.first %}
                                <img src="{{ app.request.basePath }}/img/posts/{{ p.file|striptags }}" alt="" class="card-img-top">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                <div class="card-img-overlay text-center">
                        <h3 class="card-title text-white bg-dark-transparent py-3 embed-responsive">
                            <a href="../../../../../../fichiers%20prep/blog.html">{{ post.title }}</a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ post.content | striptags | slice(0,100) }}.</p>
                        <div class="col-12 text-right">
                            <a href="#" class="align-self-right">Lire plus <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col px-0 pb-0">
                <img src="{{ asset('img/accueil-comment-bas.png') }}" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<!-- SECTION OBSERVATIONS -->
<section id="observation-accueil-section">
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col text-center text-white py-3">
                <h2>Les dernières observations</h2>
            </div>
        </div>
        <div class="row text-dark">
            <div class="row justify-content-center m-0">
            {% for obs in observations %}
                <div class="col-10 bg-white col-md-5 pt-3">
                    <div class="card">
                        <a href="#" title="Aller voir l'observation du {{ obs.bird.frenchName }}">
                            {% if obs.Photos.snapshot is empty %}
                                <img src="{{ app.request.basePath }}/img/image-not-available.jpg" alt="" class="card-img-top">
                            {% else %}
                                {% for o in obs.Photos %}
                                    {% if loop.first %}
                                        <img src="{{ app.request.basePath }}/img/observations/{{ o.file|striptags }}" alt="" class="card-img-top">
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </a>
                        <div class="card-body row">
                            <div class="col-6 px-sm-0">
                                <p class="card-text"><strong>Espèce :</strong> {{ obs.bird.frenchName }}</p>
                                    <p class="card-text"><strong>Publiée par :</strong> {{ obs.user.salt }} </p>
                            </div>
                            <div class="col-6 px-sm-0">
                                <p class="card-text"><strong>Date :</strong> {{ obs.date|date("d/m/Y") }} </p>
                                <p class="card-text"><strong>Lieu :</strong> {{ obs.place }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>

<!-- RETOUR VERS LE HAUT SECTION -->
<section class="back-up">
    <div class="container">
        <div class="row justify-content-end">
            <a href="#" title="Remonter vers le haut de la page">
                <img src="{{ asset('img/bird-up.png') }}" alt="" class="bird-up">
            </a>
        </div>
    </div>
</section>

    {{ include("NAOBundle:Default:participate_section.html.twig") }}

{% endblock %}