{# src/NAOBundle/ressources/views/Default/navbar.html.twig #}

<nav class="navbar navbar-expand-md navbar-light mt-3 mb-0 pb-0">
    <div class="container">
        <a class="nav-link d-md-none p-0" href="{{ path('nao_index') }}"><img src="{{ asset('img/mini-logo.png') }}" class="img-nav" alt=""></a>
        <div class="nav-item dropdown  order-md-2">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                <img src="{{ asset('img/user.png') }}" class="img-nav" alt="">
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Se connecter</a>
                <a class="dropdown-item" href="#">Voir son profil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Déconnexion</a>
            </div>
        </div>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav align-items-center mx-auto">
                <li class="nav-item text-center ">
                    <a class="nav-link" href="{{ path('nao_homepage') }}">Accueil</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('nao_about') }}">A propos</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('nao_participate') }}">Participer</a>
                </li>
                <li class="nav-item d-none d-md-inline text-center">
                    <a class="nav-link" href="{{ path('nao_index') }}"><img src="{{ asset('img/mini-logo.png') }}" class="logo-link" alt=""></a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('nao_search') }}">Rechercher</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('blog_homepage') }}">Blog</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('nao_observation') }}">Observation</a>
                </li>
            </ul>
        </div>
    </div>
</nav>