{% extends '@NAO/layout.html.twig' %}
{% block title %}
    Gestion membres - NAO
{% endblock %}

{% block body %}
    <!-- Observations SECTION -->
    <section id="my-observations">
        <div class="container py-5 bg-green px-md-5">
            <div class="row">
                {% include 'UserBundle:Default:side_menu_top.html.twig' %}
                <div class="col-12 col-md-8 text-white mt-md-5 pt-md-5 pb-md-4">
                    <div class="col-12 d-md-none pb-4">
                        <h1>Gestion des membres</h1>
                    </div>
                    {% if users is empty %}
                        <div class="row row-separate py-3">
                            <p class="col-12">Aucun utilisateur.</p>
                        </div>
                    {% else %}
                        <div class="row py-3 text-dark-green align-items-baseline">
                            <div class="col-5">
                                <select id="filter_status" class="form-control" onchange="filter()">
                                    <option selected>Filtrer par...</option>
                                    <option value="0">Tous status</option>
                                    {% for role in roles %}
                                        <option value="{{ role.id }}">{{ role.currentName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="search_name" onchange="filter()">
                                    <span class="input-group-addon" onclick="search()"><i
                                                class="fa fa-search"></i></span>
                                </div>
                            </div>
                        </div>
                        {% for user in users %}
                            <div class="row row-separate py-3 align-items-baseline">
                                <div class="col-6">{{ user.login|capitalize }}</div>
                                <div class="col-6">{{ user.role.currentName }}</div>
                                {% for role in roles %}
                                    <div class="col-3">
                                        {% if role.id == user.role.id %}
                                            <p class="text-grey mb-0">{{ role.currentName }}</p>
                                        {% else %}
                                            <a href="#"
                                               title="Changer le rôle de cet utilisateur en {{ role.currentName }}"
                                               onclick="publier({{ role.id }},{{ user.id }})">{{ role.currentName }}</a>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                <div class="col-3">
                                    <select id="us{{ user.id }}" class="form-control" onchange="activer({{ user.id }})">
                                        <option selected>{{ user.userStatus.name }}</option>
                                        {% for state in status %}
                                            <option value="{{ state.id }}">{{ state.verb }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/gestion-user.js') }}"></script>
{% endblock %}